/**==============================================
 * !             wellness page Css
 *=============================================**/

#top-add, #top-add>img {
  width: 98vw;
  margin: auto;
}

body {
  background-color: #dae2e1;
}

#wellnessWidth {
  width: 97%;
  margin: auto;
  margin-bottom: 40px;
}

#container {
  width: 98vw;
  /* height: 250px; */
  margin: auto;
}

/**=======================
 * *       First section
 *========================**/

.clearfix {
  height: 320px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.home-shopby-category {
  height: 80px;
  padding-left: 20px;
}

.home-shopby-category h2 {
  font-size: 16px;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
  line-height: 19.5px;
  color: #6f7284;
}

.home-shopby-category span {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 0 0;
}

.home-shopby-category p {
  font-size: 14px;
  padding-left: 0;
  line-height: 2em;
  color: #6f7284;
}

.product {
  height: 250px;
  display: flex;
  overflow: scroll;
  position: relative;
}

/**=======================
 * *    First Section Arrow
 *========================**/

/* arrow */

.left {
  position: absolute;
  bottom: -10px;
  left: 25px;
}

.right {
  position: absolute;
  bottom: -10px;
  left: 1380px;
}

.product>div {
  width: 150px;
  height: 175px;
  text-align: center;
  margin: 30px 45px;
}

.product img {
  width: 150px;
  height: 160px;
  border: 1px solid #bbbbbd;
  border-radius: 5px;
}

/**=======================
 * *       Section Section
 *========================**/

.clearfix-1 {
  height: 450px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.product1 {
  height: 350px;
  display: flex;
  overflow: scroll;
  margin-top: 20px;
  position: relative;
  gap: 16px;
}

#slide-btn {
  width: 30px;
  padding-bottom: 8px;
  border-radius: 50%;
  color: white;
  border-color: white;
  border: none;
}

.product1 img {
  width: 70%;
  height: 150px;
  border-radius: 5px;
  border-radius: 10px;
  padding-top: 10px;
  margin-left: 32px;
  cursor: pointer;
}

.item {
  width: 220px;
  height: 330px;
  border: 1px solid #dae2e1;
  border-radius: 10px;
  position: relative;
}

.item h4, .item p, .item span {
  margin: 0 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  cursor: pointer;
}

del {
  color: #bbbbbd;
}

#btn {
  background-color: #34aeb2;
  color: white;
  border: none;
  width: 160px;
  height: 40px;
  margin: 10px 30px 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

strong {
  font-size: 20px;
  color: #fb2855;
  cursor: default;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  border: none;
  background-color: #86be52;
  border-radius: 2px;
}

/**=======================
 * *       Sixth section
 *========================**/

.clearfix-2 {
  height: 350px;
  border-radius: 10px;
  background-color: white;
}

.product2 {
  height: 270px;
  display: flex;
  overflow: scroll;
}

.product2 img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.item-1 {
  min-width: 270px;
  height: 200px;
  border-radius: 10px;
  /* margin: 35px  20px;
         */
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 20px;
  position: relative;
  border: 1px solid red;
}

.item-1:nth-child(1) {
  background-color: rgb(255, 243, 235);
}

.item-1:nth-child(2) {
  background-color: #f6fae8;
}

.item-1:nth-child(3) {
  background-color: #ebfefc;
}

.item-1:nth-child(4) {
  background-color: #eaf9ff;
}

.text {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.text>span {
  color: #34aeb2;
}

.text>h4 {
  padding-left: 30px;
}

/**==============================================
 * !                 slide on click
 *=============================================**/

.up, .down {
  cursor: pointer;
  position: absolute;
  background-color: white;
  margin-top: 120px;
  padding: 16px;
  color: rgb(104, 101, 101);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.down {
  right: 0px;
}

.up {
  left: 0px;
}

.product:hover {
  text-decoration: underline;
}

.arrow {
  font-size: 18px;
  overflow: auto;
  border-radius: 50%;
  cursor: pointer;
}

.youscroll {
  margin-top: 30px;
  height: fit-content;
  color: black;
  /* display: flex; */
  align-items: center
}

.align {
  display: flex;
  width: 97%;
  margin: auto;
  color: black;
  border: 1px rgb(129, 129, 129) solid;
  border-radius: 10px;
  /* padding: 2% 0%; */
}

.align>p {
  margin-left: 0px;
}

.product1::-webkit-scrollbar {
  height: 0px;
  background-color: #F5F5F5;
}